@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*, *::after , *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  /*background-color: #f2f4f7; */
  background-color: #e4e7eb;
}
.Container{
  width: 100%;
  height: 100%;
  display: flex;
}
.ContainerCv{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 38rem;
  background-color: white;
  margin-top: 15px;
  margin-left: 15px;
  
}
.NavBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  
  
}

.Title {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.10px;
 
}
.Title p{
  margin-top: -15px;
  font-size: 0.8rem;
}
.Contacts{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
}
.Contacts p{
  margin: 0 20px;
  padding-top: 7px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.10px;
  font-size: 0.8rem;
}
.Icon{
margin-right: 3px;
}
.CvFields{
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding-left: 13px;
  width: 100%;
  height: 90%;
}
.CvFields h3{
  margin-top : 35px;
  text-transform: uppercase;
  font-weight: 250;
  font-size: 0.80rem;
  letter-spacing: 1.5px;
}
.CvFields hr {
  border: 0.6px dashed #bbbdc7;
  width: 97%;
   /* margin: 1px 0; */
    margin: -1px 0;
    
}
.CvFields p {
  margin-top: 19px;
  font-weight: 400;
  font-size: 12px;
}

.DataForm {

}
.DataForm h3{
  
}
.ContainerDataForm {
  display: flex;
width: 50%;
height: 100vh;
background-color: white;
margin-left: 20px;
}